@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.navContainer {
  background-color: #754737;
  color: white;
  width: 100%;
  font-family: "Playfair Display", serif;
}
.navContainer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 100%;
  max-height: 70px;
}
.navContainer__navbar__logo {
  font-size: 40px;
  margin-left: 30px;
  letter-spacing: 4px;
}
.navContainer__navbar__logo__style {
  color: #482e21;
}
.navContainer__navbar__search {
  margin-right: 40px;
}
.navContainer__navbar__search__input {
  font-size: 18px;
  margin: 5px;
}
.navContainer__navbar__search i {
  color: white;
}
.navContainer__nav {
  list-style: none;
  margin: 0;
  text-align: center;
}
.navContainer__nav__link {
  display: inline;
  margin: 0;
  height: 100%;
}
.navContainer__nav__link a {
  padding: 0px 30px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.navContainer__nav__link a:hover {
  color: #482e21;
}

#home {
  background-color: white;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40vh 40vh;
  grid-gap: 15px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  padding: 20px 80px;
}
.container__left {
  grid-row: span 2;
  background-image: cover;
  max-height: 100%;
}
.container__left img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.container__left__title {
  position: relative;
  bottom: 150px;
  left: 20px;
  color: white;
  max-width: 90%;
  overflow: hidden;
  max-height: 20%;
}
.container__rightTop img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.container__rightTop__title {
  position: relative;
  bottom: 150px;
  left: 20px;
  color: white;
  max-width: 90%;
  overflow: hidden;
  max-height: 40%;
}
.container__rightBottom img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.container__rightBottom__title {
  position: relative;
  bottom: 150px;
  left: 20px;
  color: white;
  max-width: 90%;
  overflow: hidden;
  max-height: 40%;
}

#trendingPosts::after {
  content: "";
  display: table;
  clear: both;
}

.trendingPosts {
  font-family: "Playfair Display", serif;
  float: left;
  width: 65%;
  padding: 50px;
  padding-top: 0px;
}
.trendingPosts__title {
  font-size: 30px;
  padding: 10px;
  margin-left: 70px;
  border-radius: 5px;
  border-left: 5px solid #482e21;
}
.trendingPosts__Posts {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: start;
}
.trendingPosts__Posts__post {
  width: 300px;
  max-height: 900px;
  margin: 5px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.trendingPosts__Posts__post a {
  background-color: #482e21;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: inline;
}
.trendingPosts__Posts__post img {
  object-fit: cover;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.asideSection {
  font-family: "Playfair Display", serif;
  margin-top: 80px;
  float: left;
  width: 20%;
}
.asideSection__title {
  font-size: 25px;
  padding-left: 5px;
  border-radius: 5px;
  margin-top: 50px;
  border-left: 5px solid #482e21;
}
.asideSection__recentPosts {
  display: flex;
  flex-flow: column;
}
.asideSection__recentPosts__post {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.asideSection__recentPosts__post__img img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.asideSection__recentPosts__post__content {
  margin: 10px;
}
.asideSection__recentPosts__post__content a {
  background-color: #482e21;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: inline;
}
.asideSection__recentPosts__post__content h3 {
  width: 200px;
  font-weight: light;
}
.asideSection__recentPosts__post__content p {
  width: 200px;
}
.asideSection__categories {
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.asideSection__categories hr {
  border-color: #754737;
  width: 100%;
}
.asideSection__categories__categorie {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
}
.asideSection__categories__categorie__symbol {
  font-family: none;
  font-size: 25px;
  font-weight: bolder;
}
.asideSection__categories__categorie__number {
  margin-left: 5px;
}

#newsLetter {
  display: flex;
  justify-content: center;
}

.newsLetter {
  background-image: url("https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #482e21;
  padding: 30px;
  display: flex;
  border-radius: 30px;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Playfair Display", serif;
  color: white;
}
.newsLetter__text1 {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}
.newsLetter__text2 {
  font-weight: lighter;
}
.newsLetter__form__input {
  width: 300px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  font-size: 18px;
}
.newsLetter__form__btn {
  position: relative;
  right: 7px;
  background-color: #754737;
  font-size: 18px;
  font-weight: bolder;
  width: 150px;
  top: 0px;
  height: 65px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#footer {
  margin-top: 50px;
  background-color: #754737;
}

.footer {
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  flex-flow: row wrap;
}
.footer__socials__title {
  text-align: center;
}
.footer__socials ul {
  list-style: none;
}
.footer__socials ul li {
  margin: 0px;
  display: inline;
  margin-right: 20px;
}
.footer__about {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
