.asideSection {
    text-align: start;
    padding: 30px;
    &__title{
        font-size: 20px;
        border-bottom: 3px solid $style;
        border-radius: 4px;
        padding:10px;
        font-family: 'Playfair Display', serif; 
        font-weight: lighter;
        display: inline-block;
    }
    &__recentPosts{
        display:flex;
        flex-flow:row wrap;
        justify-content: start;
        align-items: start;
        &__post{
            cursor: pointer;
            margin-top:20px;
            display:flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            &__img{
                width: 110px;
                height: 110px;
                img{
                border-radius: 10px;
                width:100%;
                object-fit: cover;
                height:100%;
                }
            }
            &__content{
                margin:10px;
                a{
                background-color: $style;
                padding: 5px;
                font-family: 'Playfair Display', serif; 
                border-radius: 10px;
                text-decoration: none;
                color:$text;
                display: inline;
                }
                h3{
                    margin: 10px 0;
                    width: 100%;
                    font-size: medium;
                    font-family: Helvetica,Arial, sans-serif; 
                }
                p{  
                    margin: 0;
                    font-family: Helvetica,Arial, sans-serif; 
                    width: 100%;
                }
            }
        }
    }
    &__categories{
        display:flex;
        flex-flow: row wrap;
        &__categorie{
            width: 100%;
            height: 80px;
            margin: 5px 5px;
            cursor: pointer;
            position: relative;
            
            img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &__title{
                color:$text;
                display: flex;
                width: 90%;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;
                position: absolute;
                &__name{
                    font-family: 'Playfair Display', serif; 
                }
                &__number{
                    background-color: $text;
                    border-radius: 50px;
                    padding: 10px;
                    color:black;
                }
            }
        }
    }
}
