.navContainer{
    background-color: $theme;
    color: $text;
    font-family: 'Playfair Display', serif;
&__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        display: inline;
        margin:10px;
        margin-left: 20px;
        font-size: 40px;
        letter-spacing: 4px;
        &__style {
            color: $style;
        }
    }  
    &__search {
      
        position: relative;
        margin:10px;
        &__input{
            font-size: 18px;
            margin: 5px;
            padding: 8px;
            width: 70%;
        }
        i {
            color: $style;
            top: 15px;
            position: absolute;
            right:60px;
        }
    }
    &__navIcon{
        display: none;
    }
}
&__nav {
    hr{
        margin: 0;
        padding: 0;
    }
    list-style: none;
    margin: 0; 
    text-align: center;
    background-color: $text;
    ul{
        margin : 0;
        padding: 0;
    }
    &__link {
        display: inline-block;
        margin: 0;
        padding:18px 0px;
        position: relative;
        #categorieNav:hover > &__list{
            display:inline;
        }
        &__list{ 
            display: none;
            background-color: $text;
            z-index: 5;
            margin: 0;
            width: 178px;
            left: 0%;
            top: 56px;
            position: absolute;
            padding: 0;
            list-style: none;
            border: 1px solid $style;
            box-sizing: border-box;
            &__categorie{
                border-bottom: 1px solid $style;
                padding: 0;
                color:$theme;
                &__a{
                    display: block;
                    text-decoration: none;
                    padding: 10px;
                    &:hover{
                        background-color: $style;
                        color:$text;
                    }
                }

            }   
        }
        &:hover{
            background-color: $style;
            a{
                color:$text;
            }
            ul{
                li{
                    a{
                        color:$style;  
                        &:hover{
                            color: $text;
                        }
                    }
                }
            }
        }
        &__a{ 
            padding: 0px 30px;
            text-decoration: none;
            color: $theme;
            font-size: 15px;
            font-weight: lighter;
        }
    }
}
}



