.navContainer{
    background-color: $theme;
    color: $text;
    font-family: 'Playfair Display', serif;
&__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        display: inline;
        margin:10px;
        margin-left: 20px;
        font-size: 40px;
        letter-spacing: 4px;
        &__style {
            color: $style;
        }
    }  
    &__search {
        float: right;
        position: relative;
        &__input{
            font-size: 18px;
            margin: 5px;
            padding: 8px;
            width: 70%;
        }
        i {
            color: $style;
            top: 15px;
            position: absolute;
            right:60px;
        }
    }
    &__navIcon{
        display: none;
    }
}
&__nav {
    list-style: none;
    margin: 0; 
    text-align: center;
    background-color: $text;
    position: relative;
    &__link {
        display: inline;
        margin: 0;
        padding:18px 0px;
        height: 100%;
        &:hover{
            background-color: $style;
            a{
                color:$text;
            }
        }
        a { 
            padding: 0px 30px;
            text-decoration: none;
            color: $text;
            font-size: 15px;
            color:$style;
            font-weight: lighter;
        }
    }
    &__categories{
        display: none;
        position: absolute;
        left: 51%;
        transform: translate(-54%, -6%);
        text-align: center;
        width: 192px;
        border: 1px solid $style;
        &__categorie{
            width: 100%;
            padding-top: 10px;
            padding-bottom:10px ;
            border-bottom: 1px solid $style;
            &:hover{
                background-color: $style;
                a{
                    color:$text;
                }
            }
        }    
        ul{ 
            margin: 0;
            padding: 0;
            list-style: none;
            a{  
                text-decoration: none;
                color:$style;
                width: 100%;
            }
            
        }
    }
}
}

