.postsContainer{
    display: grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 10px;
    &__posts{
        &__categorieContainer{
            text-align: start;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
            &__categorieLabel{
                font-size: 20px;
                color:gray;
                margin: 10px 0;
                font-family: 'Playfair Display', serif;
            }
            form{
                margin: 5px 0;
                padding: 0;
            }
            &__search{
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                align-items: center;
                width: 100%;
                &__input{
                    padding: 12px;
                    width: 80%;
                    margin: 10px 0;
                    font-size: 20px;
                    border-radius: 10px;
                }
                &__btn{
                    padding: 11px;
                    background-color: $theme;
                    border-radius: 10px; 
                    width: 15%;
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    color:$text;
                }
            }
            hr{
                margin: 20px 0;
            }
        
    }
        font-family: 'Playfair Display', serif;
        grid-column: span 2;
        padding: 20px;
        &__post{
            cursor: pointer;
            margin: 20px 0;
            height: max-content;
            display: flex;
            align-items: center;
            flex-flow: row;
            &__img{
                width: 100%;
                height: 300px;
                img{    
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            } 
            &__content{
                width: 100%;
                margin: 20px;
                a{  
                    background-color: $style;
                    padding: 5px;
                    border-radius: 10px;
                    text-decoration: none;
                    color:$text;
                    display: inline;
                }
                h3{
                    font-size: x-large;
                    max-width: 100%;
                    max-height: 100%;
                    margin: 10px 0;
                    overflow: hidden;
                }
                p{  
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;    
                }
            }
        }
    }
}
.postsPagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-top: 100px;
    a{  
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        font-size: 20px;
        text-decoration: none;
        box-shadow: 1px 1px 1px 1px  gray;
        margin: 5px;
        color: black;
        border-radius: 50%;
    }
    .active{
        background-color:$theme;
    }
}