#footer{
    margin-top: 50px;
    background-color: $theme;
}
.footer{
    font-family: 'Playfair Display', serif;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    color: $text;
    padding: 20px;
    flex-flow: row wrap;
    &__socials{
        &__title{
            text-align: center;
        }
     ul{
         list-style: none;
         li{
            margin: 0px;
            display:inline;
            margin-right: 20px;
        }
    }
    }
    &__about{
        text-align: center;
    }
}