#home{
    background-color:$text;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:40vh 40vh ;
    grid-gap: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    padding: 40px 100px ;
    &__left {
        grid-row: span 2;
        background-image: cover;
        max-height: 100%;
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        &__title{
            position:relative;
            bottom: 150px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 20%;
        }
    }

    &__rightTop {
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        &__title{
            position:relative;
            bottom: 150px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }

    &__rightBottom {
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        &__title{
            position:relative;
            bottom: 150px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }
}

#trendingPosts::after {
    content: "";
    display: table;
    clear: both;
}
.trendingPosts {
    font-family: 'Playfair Display', serif;
    float: left;
    width: 65%; 
    padding: 50px;
    padding-top:0px;
    &__title {
        font-size: 30px;
        padding: 10px;
        border-radius: 5px;
        border-left: 5px solid $style;
    }
    &__Posts {
        margin-top: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: start;
        &__post {
            width: 300px;
            max-height:900px;
            margin: 5px;
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            a{  
                background-color: $style;
                padding: 10px;
                border-radius: 10px;
                text-decoration: none;
                color:$text;
                display: inline;
            }
            img {
                object-fit: cover;
                border-top-right-radius: 10%;
                border-top-left-radius: 10%;
                width: 100%;
                height: 300px; 
                margin-bottom: 10px;
            }
        }
    }
}

.asideSection {
    font-family: 'Playfair Display', serif;
    margin-top: 80px;
    float: left;
    width: 20%; // Adjusted width
    &__title{
        font-size: 25px;
        padding-left: 5px;
        border-radius: 5px;
        margin-top: 50px;
        border-left: 5px solid $style;
    }
    &__recentPosts{
        display:flex;
        flex-flow:column;
        &__post{
            margin-top:20px;
            display:flex;
            flex-flow: row;
            align-items: center;
            &__img{
                img{
                border-radius: 50%;
                width:120px;
                height:120px;
                }
            }
            &__content{
                margin:10px;
                a{
                background-color: $style;
                padding: 5px;
                border-radius: 10px;
                text-decoration: none;
                color:$text;
                display: inline;
                }
                h3{
                    width: 200px;
                    font-weight: light;
                }
                p{
                    width: 200px;
                }
            }
        }
    }
    &__categories{
        display:flex;
        flex-flow:column;
        justify-content: start;
        hr{
            border-color: $theme;
            width: 100%;
        }
        &__categorie{
            &__symbol{
                font-family: none;
                font-size: 25px;
                font-weight: bolder;
            }
            display:flex;
            justify-content: space-between;
            font-size: 20px;
            padding: 10px;
            &__number{
                margin-left:5px;
            }
        }
    }
}




#newsLetter{
    display:flex;
    justify-content: center;
}
.newsLetter{
    background-image: url('https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $style;
    padding: 30px;
    display: flex;
    border-radius: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'Playfair Display', serif;
    color:$text;
    &__text1{
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
    &__text2{
        font-weight: lighter;
    }
    &__form {
        &__input{
            width: 300px;
            height: 50px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding: 5px;
            padding-left: 15px;
            font-size: 18px;
        }
        &__btn{
            position: relative;
            right: 7px;
            background-color:$theme;
            font-size:18px;
            font-weight: bolder;
            width: 150px;
            top:0px;
            height: 65px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}