#home{
    background-color:$text;
    max-height: max-content;
}

.container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows:35vh 35vh ;
    grid-gap: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    padding: 10px 20px;
    &__left {
        grid-row: span 2;
        max-height: 100%;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    
        a {
            position: absolute;
            top: 10px;
            right: 30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color: $text;
            display: inline-block; 
        }
    
        &__title {
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2; 
            max-width: 90%;
            overflow: hidden;
            max-height: 20%;
        }
    }

    &__rightTop {
        position: relative;
        cursor:pointer;
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        a{  
            position: absolute;
            top: 10px;
            right:30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color:$text;
            display: inline;
        }
        &__title{
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }

    &__rightBottom {
        position: relative;
        cursor: pointer;
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        a{  
            position: absolute;
            top: 10px;
            right:30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color:$text;
            display: inline;
        }
        &__title{
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }
}
#posts{
    margin-top: 30px;
    padding: 10px;
    .title{
        margin-left: 3%;
        font-size: 30px;
        font-weight: bolder;
        border-radius: 4px;
        padding:10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        border-bottom: 5px solid $style;
        display: inline-block;
    }
}
#trendingPosts{
    display: grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 50px;
}
.trendingPosts { 
    font-family: 'Playfair Display', serif;
    grid-column: span 2;
    &__Posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        &__post {
            cursor: pointer;
            margin: 40px 0; 
            width: 360px; 
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            &__categorie{  
                margin: 10px 0;
                &__select{  
                    background-color: $style;
                    padding:5px;
                    border-radius: 10px;
                    text-decoration: none;
                    color:$text;
                }
            }
            img {
                object-fit: cover;
                border-radius: 10px;
                width: 100%;
                height: 400px;
            }
            h3{ 
                font-size:x-large; 
                margin: 5px 0;
            }
            &__p{
                max-height: 65px;
                overflow: hidden;
            }
            &__readMore{
                border: 1px solid black;
                color:black;
                text-decoration: none;
                padding: 3px;
                &:hover{
                    background-color: black;
                    color:white;
                }
            }
        }
    }
}



#newsLetter{
    margin-top: 50px;
    display:flex;
    justify-content: center;
}
.newsLetter{
    background-image: url('https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $style;
    padding: 30px;
    display: flex;
    border-radius: 30px;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'Playfair Display', serif;
    color:$text;
    &__text1{
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
    &__text2{
        font-weight: lighter;
    }
    &__form {
        position: relative;
        width: 400px;
        &__input{
            width: 250px;
            height: 50px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding: 5px;
            padding-left: 15px;
            font-size: 18px;
        }
        &__btn{
            position:absolute;
            right:18px;
            background-color:$theme;
            font-size:18px;
            font-weight: bolder;
            width: 150px;
            top:0px;
            height: 65px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}