#home{
    background-color:$text;
    max-height: max-content;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:35vh 35vh ;
    grid-gap: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    padding: 10px 40px ;
    &__left {
        grid-row: span 2;
        max-height: 100%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    
        a {
            position: absolute;
            top: 10px;
            right: 30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color: $text;
            display: inline-block; 
        }
    
        &__title {
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2; 
            max-width: 90%;
            overflow: hidden;
            max-height: 20%;
        }
    }

    &__rightTop {
        position: relative;
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        a{  
            position: absolute;
            top: 10px;
            right:30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color:$text;
            display: inline;
        }
        &__title{
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }

    &__rightBottom {
        position: relative;
        img{
            width: 100%; 
            border-radius: 10px;
            height: 100%; 
            object-fit: cover;
        }
        a{  
            position: absolute;
            top: 10px;
            right:30px;
            background-color: $style;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color:$text;
            display: inline;
        }
        &__title{
            position:absolute;
            bottom: 10px;
            left: 20px;
            color: $text2;
            max-width: 90%;
            overflow: hidden;
            max-height: 40%;
        }
    }
}
#posts{
    h2{
        font-size: 30px;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 50px;
        margin-left: 70px;
        border-radius: 5px;
        border-left: 5px solid $style;
    }
}
#trendingPosts{
    padding: 20px;
    display: grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(350px,2fr));
}
.trendingPosts {
    font-family: 'Playfair Display', serif;
    &__Posts {
        margin-top: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        &__post {
            width: 300px;
            max-height:900px;
            margin: 20px;
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            a{  
                background-color: $style;
                padding: 10px;
                border-radius: 10px;
                text-decoration: none;
                color:$text;
                display: inline;
            }
            img {
                object-fit: cover;
                border-top-right-radius: 10%;
                border-top-left-radius: 10%;
                width: 100%;
                height: 300px; 
                margin-bottom: 10px;
            }
        }
    }
}

.asideSection {
    font-family: 'Playfair Display', serif; 
    text-align: start;
    &__title{
        display: inline-block;
        font-size: 25px;
        padding-left: 15px;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 20px;
        border-left: 5px solid $style;
    }
    &__recentPosts{
        display:flex;
        flex-flow:row wrap;
        justify-content: space-around;
        align-items: center;
        &__post{
            margin-top:20px;
            display:flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            &__img{
                img{
                border-radius: 50%;
                width:100px;
                height:100px;
                }
            }
            &__content{
                margin:10px;
                a{
                background-color: $style;
                padding: 5px;
                border-radius: 10px;
                text-decoration: none;
                color:$text;
                display: inline;
                }
                h3{
                    width: 150px;
                    font-weight: light;
                }
                p{
                    width: 150px;
                }
            }
        }
    }
    &__categories{
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &__categorie{
            width: 80%;
            cursor: pointer;
            &:hover{
                background-color: $style;
            }
            &__symbol{
                font-family: none;
                font-size: 25px;
                font-weight: bolder;
            }
            display:flex;
            justify-content: space-between;
            font-size: 20px;
            padding: 10px;
            &__number{
                margin-left:5px;
            }
        }
    }
}




#newsLetter{
    display:flex;
    justify-content: center;
}
.newsLetter{
    background-image: url('https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $style;
    padding: 30px;
    display: flex;
    border-radius: 30px;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'Playfair Display', serif;
    color:$text;
    &__text1{
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
    &__text2{
        font-weight: lighter;
    }
    &__form {
        position: relative;
        width: 400px;
        &__input{
            width: 250px;
            height: 50px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding: 5px;
            padding-left: 15px;
            font-size: 18px;
        }
        &__btn{
            position:absolute;
            right:18px;
            background-color:$theme;
            font-size:18px;
            font-weight: bolder;
            width: 150px;
            top:0px;
            height: 65px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}