.body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #E86900;
    color: $text;
    margin: -8px;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    &__logo {
        margin: 20px;
        font-size: 40px;
        padding: 15px;
        &__style {
            color: $theme;
        }
    }  
    &__nav {
        list-style: none;
        margin: 0; 
        &__link {
            display: inline;
            margin: 0; 
            a {
                text-decoration: none;
                color: $text;
                font-size: 18px;
                padding: 15px;
            }
        }
    }
    &__search {
        margin: 20px;
        i {
            color: $theme;
            padding: 15px;
        }
    }
}
