.postPage{
    display: grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    padding: 10px;
}
.postTitle{
    margin: 10px;
    margin-left: 35px;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
.articleContent{
    grid-column: span 2;
    max-width: 100%;
    height: max-content;
    padding: 0 30px;
    display: flex;
    flex-flow: column;
    align-items: start;
    &__img{
        img {
            width: 100%;
            height: 60%;
            object-fit: cover;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }
    &__categorie{
        background-color: $style;
        padding: 10px;
        border-radius: 10px;
        font-size: 25px;
        margin: 10px 0;
        text-decoration: none;
        color:$text;
        display: inline-block;
    }
    &__p{  
        font-family:'Times New Roman', Times, serif;
        font-size: x-large;
        line-height: 30px;
        word-spacing: 3px;
    }
    &__comments{
        &__replyForm{
            margin: 0;
            padding: 0;
            width: 100%;
            textarea{
                box-sizing: border-box;
                margin: 5px;
                resize: none;
                width: 100%;
                padding:10px;
                font-size: 16px;
                font-family: 'Playfair Display', serif;
            }
            &__inputContainer{
                width: 100%;
                margin: 0;
                padding:0;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                margin: 5px;
                &__input{
                    width: 46%;
                    padding:10px;
                    font-size: 16px;
                    font-family: 'Playfair Display', serif;
                }
            }
            &__checkContainer{
                font-family: 'Playfair Display', serif;
                margin: 20px 5px;
            }
            &__btn{
                width: 230px;
                padding: 10px;
                font-size: 18px;
                font-family: 'Playfair Display', serif;
                margin: 5px;
                background-color: $style;
                color:$text;
            }
        }
        &__title{
            font-size: 25px;
            border-bottom: 3px solid $style;
            border-radius: 4px;
            padding:5px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: lighter;
            display: inline-block;
        }
        &__comment{
            display: flex;
            align-items: center;
            width: 100%;
            margin: 20px 0;
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;
            }
            &__content{
                margin: 10px;
                width: 100%;
                &__p{
                    font-family: 'Playfair Display', serif;
                    font-weight: lighter;
                }
                &__info{
                    display:flex;
                    align-items: center;
                    flex-flow: row;
                    justify-content:space-between;
                    &__about{
                         &__user{
                            display: inline-block;
                            margin: 5px;
                        }
                        &__date{
                            display: inline-block;
                        }
                    }
                &__reply{
                    &__btn{
                        text-decoration: none;
                        color: gray;
                        font-size: 20px;
                        font-family: 'Playfair Display', serif;
                        font-style: italic;
                    }
                }
                }
            }
        }
    }
}