@media  screen and (max-width:1157px){
    .asideSection{
        grid-column: span 2;
        &__categories{
            justify-content: center;
        }
    }
}


@media screen and (min-width: 620px) and (max-width: 1157px){
    .asideSection{
        &__recentPosts{
            &__post{
                width: 50%;
            }
        }
        &__categories{
            &__categorie{
                width: 48%;
            }
        }
    }
}