@media  screen and (max-width:1024px){
    .postsContainer{
        &__posts{
            &__post{
                margin: 5px;
                flex-flow: column;
            }
            &__img{
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width:726px){
    .postsContainer{
        &__posts{
            &__categorieContainer{
                &__search{
                    &__input{
                        width: 100%;
                    }
                    &__btn{
                        width: 100%;
                    }
                }
                
            }
        }
    }
}