@media  screen and (max-width:1024px){
    .newsLetter{
        width: 80%;
        &__form{
            width: 250px;
            &__input{
                width: 180px;
            }
            &__btn{
                width: 70px;
            }
        }
    }
    #trendingPosts{
        grid-gap:0;
    }
    .trendingPosts{
        &__Posts{
            &__post{
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 708px) and (max-width: 1090px) {
   .asideSection{
    grid-column: span 2;
   }
}

@media screen and (max-width: 800px){
    .container{
        &__left{
            grid-column: span 2;
            grid-row: span 1;
            &__info{
                a{
                    font-size: 12px;
                }
                &__title{
                    font-size: 25px;
                }
                &__additional{
                    font-size: 15px;
                }
            }
        }
        &__rightTop{
            &__info{
                a{
                    font-size: 12px;
                }
                &__title{
                    font-size: 20px;     
                }
                &__additional{
                    font-size: 15px;
                }
            }
        }
        &__righBottom{
            &__info{
                a{
                    font-size: 12px;
                }
                &__title{
                    font-size: 10px;     
                }
                &__additional{
                    font-size: 15px;
                }
            }
        }
    }
}

