@media  screen and (max-width:1024px){
    .newsLetter{
        width: 80%;
        &__form{
            width: 250px;
            &__input{
                width: 180px;
            }
            &__btn{
                width: 70px;
            }
        }
    }
    .trendingPosts{
        &__Posts{
            &__post{
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (min-width: 708px) and (max-width: 1090px) {
   .asideSection{
    grid-column: span 2;
   }
}

